<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="2px">
        <tr>
            <td>Id</td>
            <td>Carpark Name</td>
            <td>Weekday rate 1</td>
            <td>Weekday rate 2</td>
            <td>Saturday rate</td>
            <td>Sunday & Public holiday rate</td>
        </tr>
        <tr data-th-each ="carpark :${carparkList}">
            <td data-th-text="${carpark.id}">
            </td>
            <td data-th-text="${carpark.carpark}">
            </td>
            <td data-th-text="${carpark.weekday1Rate}">
            </td>
            <td data-th-text="${carpark.weekday2Rate}">
            </td>
            <td data-th-text="${carpark.satRate}">
            </td>
            <td data-th-text="${carpark.sunPHRate}">
            </td>
        </tr>
    </table>
</body>
</html>